# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and temp files
*.log
*.tmp
*.bak

# Python egg and build artifacts
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover